/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing='0'' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

/* ------------------------------------------
  Typography ♥
---------------------------------------------*/
body {
  background: #202020;
  color: #808080;
  }
body,
textarea,
input {
  font: 13px/20px 'Helvetica Neue Light','Helvetica Neue',Helvetica,arial,freesans,clean,sans-serif;
  }
pre,
code { font:normal 12px/20px monospace; }

h1,h2,h3,h4,h5,h6 {
  font-weight:700;
  margin: 0;
  }
h1 {
  font-size: 16px;
  margin: 0;
  }
h2 {
  font-size: 18px;
  line-height: 22px;
  }
h3 {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 20px;
  }
small {
  font-size: 11px;
  color: #999;
  display: block;
  }
a {
  color: #69AACA;
  text-decoration: none;
  }
  a:hover {
    color: #337A9D;
    }

p {
  margin: 0 0 10px;
  }
label {
  font-weight:700;
  }
strong {
  font-weight:700;
  }
sup {
  font-size: 11px;
  vertical-align: top;
  position: relative;
  top: -3px;
  }

/*-----------------------------------
  Form Elements
-------------------------------------*/
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  }

/* ------------------------------------------
  Layout
  background: transparent;♥
---------------------------------------------*/
.limiter {
  width: 570px;
  margin: 0 auto;
  position: relative;
  }

/* ------------------------------------------
  General Styling ♥
---------------------------------------------*/
.heading {
  background: #fff;
  padding: 40px 0 10px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
span.branding {
  background: transparent url(images/sprite.png) no-repeat 0 0;
  color: #fff;
  color: rgba(255,255,255,0.9);
  font-size: 14px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  text-indent: -999em;
  }
span.paraphrase {
  color: #AEAEAE;
  font-weight: 200;
  }

/* ------------------------------------------
  Color Picker ♥
---------------------------------------------*/
#color-picker {
  margin-top: 30px;
  }
  ul.axis-select {
    position: absolute;
    left: -40px;
    top: 0;
    }
    ul.axis-select li a {
      background: #353535;
      font-weight: 500;
      color: #808080;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      width: 40px;
      text-transform: uppercase;
      display: block;
      text-align: center;
      height: 35px;
      font-size: 11px;
      line-height: 35px;
      border-bottom: 1px solid #222;
      letter-spacing: 1px;
      }
      ul.axis-select li a.active {
        background: #505050;
        color: #fff;
        }
        a.hlc {
          -moz-border-radius: 2px 0 0 0;
          border-radius: 2px 0 0 0;
          }
        a.hcl {
          -moz-border-radius: 0 0 0 2px;
          border-radius: 0 0 0 2px;
          }

.z-axis-label {
  text-transform: uppercase;
  position: absolute;
  top:-27px;
  left: -5px;
  width: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  }
#sl-val {
  white-space:nowrap;
  position: absolute;
  text-transform: uppercase;
  left: 28px;
  top: 2px;
  }
.tool {
  position: relative;
  width: 430px;
  }
  .canvas {
    float: left;
    }

.sidebar {
  background: #353535;
  width: 150px;
  height: 455px;
  float: left;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  position: relative;
  overflow: auto;
  }
  .sidebar .inner {
    height: 400px;
    padding: 10px;
    overflow-y: auto;
    }
  .sidebar .inner::-webkit-scrollbar {
    background: #383838;
    width: 15px;
    }
  .sidebar .inner::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 15px;
    border: 5px #383838 solid;
    }
  .sidebar .inner:hover::-webkit-scrollbar-thumb {
    background: #949494;
    }

.top {
  margin: 10px 0;
  }
#grad, #colorscale, #bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 420px;
  }
#grad {
  left: -10px;
  top: -10px;
  z-index: 20;
  height: 440px;
  width: 440px;
  }
#bg {
  background-image: url(images/canvas.png);
  background-repeat: repeat;
  left: 0;
  position:
  relative;
  width: 420px;
  z-index:0;
  }
#colorspace {
  width: 420px;
  height: 420px;
  }
#visual-output,
#code-output {
  float: left;
  }
  #code-output span {
    display: block;
    }
#visual-output {
  margin: 0 5px;
  }
#code-output {
  overflow: auto;
  overflow-x: hidden;
  width: 60px;
  padding-left: 5px;
  color: #A0A0A0;
  line-height: 30px;
  }

#visual-output .swatch {
  width: 40px;
  height: 30px;
  }
#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  -moz-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  }
  #controls a {
    background: #505050;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #949494;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    font-size: 16px;
    margin: 0;
    width: 75px;
    height: 35px;
    line-height: 32px;
    float: left;
    }
    #controls a.subtract {
      width: 74px;
      border-left: 1px solid #303030;
      -moz-border-radius: 0 0 2px 0;
      border-radius: 0 0 2px 0;
      }
    #controls a:hover {
      background-color: #444;
      }
    #controls a:active {
      background-color: #383838;
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
      }

.drag_cont {
  position: absolute;
  z-index: 50;
  left:-10px;
  top:-10px;
  width: 440px;
  height:440px;
  }
.drag {
  position: absolute;
  width:10px;
  height:10px;
  top:0;
  left:0;
  cursor: pointer;
  }
.panel .right {
  position: absolute;
  left: 440px;
  top: 0;
  }

/*  -------------------------------------------------------
 *  Slider ♥
 *  ------------------------------------------------------- */
.slider {
  margin-bottom: 40px;
  -moz-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.15);
  }
.ui-slider {
  position: relative;
  text-align: left;
  }
.ui-slider-horizontal {
  background-color: #505050;
  height: 35px;
  width: 419px;
  margin: -35px 0 0;
  -moz-border-radius: 0 0 0 2px;
  border-radius: 0 0 0 2px;
  border-right: 1px solid #303030;
  }
.ui-slider .ui-slider-handle {
  background: #303030 url(images/handle.png) no-repeat 5px 11px;
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.15);
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
  position: absolute;
  z-index: 2;
  width: 15px;
  height: 35px;
  cursor: default;
  left: 10px;
  margin: 0;
  top: 0;
  }
.ui-slider .ui-slider-handle.ui-state-hover,
.ui-slider .ui-slider-handle.ui-state-active {
  background-color: #252525;
  cursor: move;
  }
.ui-slider .ui-slider-range {
  background: #808080;
  width: 420px;
  height: 35px;
  border-radius: 4:wpx;
  position: absolute;
  z-index: 1;
  display: block;
  }
.ui-slider-vertical .ui-slider-handle {
  margin-left: 0;
  margin-bottom: -.6em;
  }
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
  }
.ui-slider-vertical .ui-slider-range-min  { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max  { top: 0; }

#sl-val {
  position: absolute;
  left: 0;
  top: 35px;
  font-size: 11px;
  color: #A0A0A0;
  }

/*-----------------------------------
  Facebook like popups
-------------------------------------*/
.tooltip {
  z-index: 12000;
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  z-index: 1000;
  margin-left: 5px;
  }
.tooltip.fade.in {
  filter: alpha(opacity=100);
  opacity: 1;
  }
.tooltip.above .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  z-index: 100;
  }
.tooltip-inner {
  padding: 1px 6px;
  background-color: #fff;
  color: #333;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.25);
  box-shadow: 0 0 8px rgba(0,0,0,0.25);
  font-weight: 500;
  font-size: 11px;
  }
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  }
.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
  }
.fade.in {
  opacity: 1;
  }

/*  -------------------------------------------------------
 *  little helpers ♥
 *  ------------------------------------------------------- */
.icon {
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  text-indent: -999em;
  width: 20px; height: 20px;
  }
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
